{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!------------ GOOGLE FONTS ------------>
    <link href="https://fonts.googleapis.com/css?family=Anton|Cabin|Lato|Fjalla+One|Montserrat|Roboto&display=swap"
        rel="stylesheet">

    <!------------ FONTS AWESOME ------------>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" > -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>

    <title>NCPOR</title>
    <style>
        .bar:hover .class1 {
            /* display: flex; */
            margin-left: -50px;
            width: 150px;
            padding-top: 0px;
            padding-bottom: 0px;
            background-color: steelblue;
            margin-top: -13px;
            z-index: 3;
        }

        .bar:hover .class2 {
            display: flex;
            margin-left: -500px;
            width: 800px;
            padding-top: 0px;
            padding-bottom: 0px;
            background-color: steelblue;
            margin-top: -13px;
        }

        .bar2 {
            position: relative;
        }

        .class3 {
            background-color: steelblue;
            padding: 1em 0;
            position: absolute;
            /*WITH RESPECT TO PARENT*/
            display: none;
            border-radius: 5px;
            top: 90px;
            margin-left: -16px;
        }

        .class3 li+li {
            margin-top: 10px;
        }

        .class3 li {
            padding: 1em 1em;
            width: auto;
            text-align: center;
        }

        .bar2:hover .class3 {
            display: block;
            margin-left: -18px;
            width: auto;
            padding-top: 0px;
            padding-bottom: 0px;
            background-color: #032549;
        }


        .im1 {
            margin-top: 5px;
        }

        .tenh {
            color:    #0792f9;
            text-decoration: none;
            font-size:18px;
        }

        .tenh:hover {
            text-decoration: underline;
            text-decoration-color:cornflowerblue;
            /* -moz-text-decoration-color: rgb(250, 114, 64); */
        }
        .inside{
            height: 800px;
            /* padding: 50px; */
        }
        /* .ins{
            border: 2px solid cornflowerblue;
            padding: 20px;
        }
        .inside{
            height: 800px;
            padding: 50px;
        } */
        .ins{
            border: 2px solid cornflowerblue;
            padding: 20px;
        }
        table,th,td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
        padding-left: 50px;
        padding-right: 50px;
    }
        th{
            background-color:cornflowerblue;
        }
    .ima1 {
            width: 50px;
            margin-top: 2px;
            /* margin-right: -500px; */
            margin-left: -40px;
            margin-top: -18px;
        }
        .b:hover{
            height: 20px;
        }
        .cl1 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-left: 100px;
            margin-top: 6px;
        }
        .tags a{
    color: #f5c32c;
    text-decoration: none;
} 
.tags .link{
    color:white;
    margin-left:50px;
}
.tags{
    margin-top: 20px;
}
.last{
    margin-left:50px;
    color:white;
    margin-top: 20px;
}
.last .link{
    color: #f5c32c;
    text-decoration: none;
}
.link1{
    color: white;
    margin-right: 10px;
}
.class:hover{
    height: 40px;
}
.dandi{
    color: #eaf50e;
}
.rpp{
    width:1.5px;
    height:auto;
    background-color:aquamarine;
}
.bar:hover .cls {
    margin-left: 0px;
    width: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: steelblue;
    margin-top: -13px;
    height: auto;
}
    </style>
</head>

<body>
    <div class="bfull">
    <div class="full">
        <div class="navbar">
                <!-- <ul> -->
                    <a href="/"><img class="im1" src="{% static 'images/icon.png' %}" alt=""
                        style="margin-left: -550px; height: 80px; margin-top: 0px;"></a>
                <li class="b class" style="font-size: 23px;margin-top: 2px;margin-left: -30%;"><a href="/"
                    style="text-decoration:none;color:white; font-size: 40px;">National Centre for Polar and Ocean Research </a></li>
                </div>
                <div class="navbar" style="height: 40%;margin-top: -10px;">
                    <ul class="cl1">
                        <!-- <li><a href="/"><img class="ima1" src="/static/images/home3.png" alt=""></a></li> -->
                        <li class="b bar" style="padding:0px;margin-left: 90%;">
                            <a href="/" style="text-decoration:none;color:white;font-size:18px;">Home&nbsp&nbsp&nbsp<span class = "dandi">|</span></a>
                        </li>
                        <li class="b bar" style="padding:0px;">
                            <a href="" style="text-decoration:none;color:white;font-size:18px;">About&nbsp&nbsp&nbsp<span class = "dandi">|</span></a>
        
                            <ul class="drop class1">
                                {% comment %} <li><a href="about/jobs" style="text-decoration:none;color:white;">Jobs</a></li>
                                <li><a href="about/ncpor" style="text-decoration:none;color:white">NSIDC People</a></li>
                                <li><a href="about/sponsors" style="text-decoration:none;color:white">Our Sponsors</a></li>
                                <li><a href="about/highlights" style="text-decoration:none;color:white">NSIDC Highlights</a>
                                </li>
                                <li><a href="about/copyrght" style="text-decoration:none;color:white">Use & Copyright</a></li>
                                <li><a href="about/contact" style="text-decoration:none;color:white">Contact Us</a></li>
                                <li><a href="about/greendata" style="text-decoration:none;color:white">NSIDC's Green Data
                                        Center</a></li> {% endcomment %}
        
                                {% for about in ab %}
                                <li><a href="/about_example/{{about.slug}}"
                                        style="text-decoration:none;color:white">{{about.title}}</a></li>
                                        <div class="bor" style="width: 100%; background-color:aquamarine; height:.75px;margin-top:-10px;margin-bottom:-10px;"></div>
                                {% endfor %}
                            </ul>
        
                        </li>
                        {% comment %} <li class="b bar" style="padding:0px;">
                            <a href="/news" style="text-decoration:none;color:white;font-size:18px;">News&nbsp&nbsp&nbsp<span class = "dandi">|</span></a>
                        </li> {% endcomment %}
        
                        <li class="b bar" style="padding:0px;padding-left:5px;">
                            <a href="/" style="text-decoration:none;color:white;font-size:18px;">Research&nbsp&nbsp&nbsp<span class = "dandi">|</span></a>
                            {% comment %} <div class="dropdown2 dd_2" style="margin-left: -937px;">
                                <div class="l">
                                    <figure class="sp">
                                        <img src="{% static 'images/researcher-100.jpg' %}" alt="researcher-100">
                                        <figcaption>SNOW</figcaption>
                                    </figure>
                                    <figure>
                                        <img src="{% static 'images/researcher-200.jpg' %}" alt="researcher-200">
                                        <figcaption>GLACIERS</figcaption>
                                    </figure>
                                    <figure>
                                        <img src="{% static 'images/researcher-300.jpg' %}" alt="researcher-300">
                                        <figcaption>ICE SHEETS</figcaption>
                                    </figure>
                                    <figure>
                                        <img src="{% static 'images/researcher-400.jpg' %}" alt="researcher-400">
                                        <figcaption>SEA ICE</figcaption>
                                    </figure>
                                    <figure>
                                        <img src="{% static 'images/researcher-500.jpg' %}" alt="researcher-500">
                                        <figcaption>ICE SHELVES</figcaption>
                                    </figure>
                                </div>
                                <div class="r">
                                    <h3>On Thin Ice:</h3>
                                    <h3>Expedition to a Crumbling Ice Shelf</h3>
                                    <p class="line"></p>
                                    <div class="ima">
                                        <img src="{% static 'images/researcher.jpg' %}" alt="researcher">
                                        <p>Scientists blog from Antarctica and provide a glimpse of what it's like to do
                                            research in the field. <a href="#">Read their blog...</a></p>
                                    </div>
                                </div>
                            </div> {% endcomment %}
        
                            <ul class="drop class2">
                                <li class="bar2"><a href="/research/scientists" style="text-decoration:none;color:white">Polar Science and Cryosphere</a>
                                    <ul class="class3">
                                        <!-- {% for research in researchs %}
                            <li><a href="/research_example/{{research.slug}}"
                                    style="text-decoration:none;color:white">{{research.title}}</a></li>
                            {% endfor %} -->
                                        {% for researchScientist in polsc %}
                                        <li><a href="/research_scientists_example/{{researchScientist.slug}}"
                                                style="text-decoration:none;color:white">{{researchScientist.title}}</a></li>
                                                <div class="bor" style="width: 100%; background-color:aquamarine; height:.75px;margin-top:0px;"></div>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <div class="rpp"></div>
                                <li class="bar2"><a href="/research/research" style="text-decoration:none;color:white">Atmosphere, Ice and Climate</a>
                                    <ul class="class3">
                                        {% for researchGrant in am %}
                                        <li><a href="/research_grants_example/{{researchGrant.slug}}"
                                                style="text-decoration:none;color:white">{{researchGrant.title}}</a></li>
                                                <div class="bor" style="width: 100%; background-color:aquamarine; height:.75px;margin-top:0px;"></div>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <div class="rpp"></div>
                                <li class="bar2"><a href="/research/publications" style="text-decoration:none;color:white">Geosciences</a>
                                    <ul class="class3">
                                        {% for scientificPublication in gsc %}
                                        <li><a href="/research_publications_example/{{scientificPublication.slug}}"
                                                style="text-decoration:none;color:white">{{scientificPublication.title}}</a>
                                        </li>
                                        <div class="bor" style="width: 100%; background-color:aquamarine; height:.75px;margin-top:0px;"></div>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <div class="rpp"></div>
                                <li class="bar2"><a href="/research/information" style="text-decoration:none;color:white">Polar Oceans / Oceanography</a>
                                    <ul class="class3">
                                        {% for informationResearch in poloc %}
                                        <li><a href="/research_information_example/{{informationResearch.slug}}"
                                                style="text-decoration:none;color:white">{{informationResearch.title}}</a></li>
                                                <div class="bor" style="width: 100%; background-color:aquamarine; height:.75px;margin-top:0px;"></div>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <div class="rpp"></div>
                                <li class="bar2"><a href="/research/scientific" style="text-decoration:none;color:white">Polar Environments, Atmosphere</a>
                                    <ul class="class3">
                                        {% for scientificExpedition in polen %}
                                        <li><a href="/scientific_expeditions_example/{{scientificExpedition.slug}}"
                                                style="text-decoration:none;color:white">{{scientificExpedition.title}}</a></li>
                                                <div class="bor" style="width: 100%; background-color:aquamarine; height:.75px;margin-top:0px;"></div>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <div class="rpp"></div>
                                <li class="bar2"><a href="research/scientific" style="text-decoration:none;color:white;">Exploration for Mineral Resources</a>
                                    <ul class="class3">
                                        {% for scientificExpedition in mre %}
                            <li><a href="scientific_expeditions_example/{{scientificExpedition.slug}}"
                                    style="text-decoration:none;color:white">{{scientificExpedition.title}}</a></li>
                                    <div class="bor" style="width: 100%; background-color:aquamarine; height:.75px;margin-top:0px;"></div>
                            {% endfor %}
                                    </ul>
                                </li>
                                
                            </ul>
        
                        </li>
                        <li class="b bar" style="padding:0px;">
                            <a href="/careers" style="text-decoration:none;color:white;font-size:18px;">Careers&nbsp&nbsp&nbsp<span class = "dandi">|</span></a>
                        </li>
                        <li class="b bar" style="padding:0px;">
                            <a href="" style="text-decoration:none;color:white;font-size:18px;">Tender&nbsp&nbsp&nbsp<span class = "dandi">|</span></a>
                        </li>
                        <li class="b bar" style="padding:0px;">
                            <a href="https://email.gov.in/"target="_blank" style="text-decoration:none;color:white;font-size:18px;">Webmail&nbsp&nbsp&nbsp<span class = "dandi">|</span></a>
                        </li>
                        <li class="b bar" style="padding:0px;margin-left:10px;">
                            <a href="/dataCenter" style="text-decoration:none;color:white;font-size:18px;">DataCenter</a>
                            <ul class="drop cls">
                                {% for about in data %}
                                <li style ="width:90px;"><a href = "datacentre/{{about.slug}}" style="text-decoration:none;color:white;">{{about.description}}</a></li>
                                    <div class="bor" style="width: 100%; background-color:aquamarine; height:.5px;"></div>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                        
                        <!-- </ul> -->
                </div>
            <div class="pg">

                <div style="background-color: white; height:500px">
                    <div class="inside">
                        <div class="ins">
                            <a href="/" class="tenh">Home</a> > Tenders
                    <div>
                        <h2 style="color:darkblue;">Tender Category</h2>
                        <hr>
                        <ul style="list-style: none;">
                            <li><a href="tender" class="tenh">Tender</a></li>
                            <li><a href="corrigendum" class="tenh">Corrigendum</a></li>
                            <li><a href="procurement" class="tenh">e-Procurement</a></li>
                            <li><a href="empanelment" class="tenh">Empanelment of vendors</a></li>
                            <li><a href="enquiry" class="tenh">Enquiry</a></li>
                            <li><a href="GeM" class="tenh">GeM Tendors</a></li>
                        </ul>
                        <a href="archive" class="tenh"><h3 style="color:darkblue;">Tender Archive</h3></a>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fo">
            <footer>
                <div class="data">
                    <div class="bord">
                        <div class="grii">
                            <div class="col">

                                Information Services

                                <p class="line"></p>
                                <ul>
                                    <li><a href="#">Information Communication Technology (ICT) </a> </li>
                                    <li><a href="#"> Library</a></li>
                                    {% comment %} <li><a href="#">IceBridge Portal</a> </li> {% endcomment %}
                                </ul>
                            </div>
                            <div class="col">

                                Management &amp Support
                                <p class="line"></p>
                                <ul>
                                    <li><a href="#">Administration</a> </li>
                                    <li><a href="#"> Finance</a></li>
                                    <li><a href="#">Procurement</a></li>
                                    <li><a href="#">Estate</a></li>
                                    {% comment %} <li><a href="#">Newsroom</a></li> {% endcomment %}
                                </ul>
                            </div>
                            <div class="col">

                                Learn About Snow and Ice

                                <p class="line"></p>
                                <ul>
                                    <li><a href="#">Icelights: Answers to Your Questions</a></li>
                                    <li><a href="#">Cryosphere Quick Facts</a></li>
                                    <li><a href="#">All About Glaciers</a></li>
                                    <li><a href="#">All About Snow</a></li>
                                    <li><a href="#">All About Sea Ice</a></li>
                                    <li><a href="#">Arctic Climatology - A Primer</a></li>
                                </ul>
                            </div>
                            <div class="col">

                                Get Help

                                <p class="line"></p>
                                <ul>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Site Map</a></li>
                                    <li><a href="#">Feedback Form</a></li>
                                </ul>

                                Etc.

                                <p class="line"></p>
                                <ul>
                                    <li> <a href="">Use & Copyright</a> </li>
                                    <li> <a href="">Web Policy</a> </li>
                                    {% comment %} <li><a href="">Jobs</a></li> {% endcomment %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="down">
                        <div class="socmed tags">
                            <span style="color:white; margin-left:50px;">Social Media:</span>
                            <span class="link1">&nbsp&nbspFacebook</span>
                            <a href="https://www.facebook.com/ncpor.goa/"  style="margin-top: 4px;">
                                <img alt="Facebook" src="{% static 'images/f2.png'%}" style="margin-right: 2px; "></a>
                            <span class="link1">|&nbsp&nbspTwitter</span>
                            <a href="https://twitter.com/ncaor_goa">
                                <img alt="Twitter" src="{% static 'images/t2.png'%}"></a>
                            <span class="link1">|&nbsp&nbspYouTube</span>
                            <a href="https://www.youtube.com/channel/UC1h2xM-VmB1opmtTa4IreQQ">
                                <img alt="Twitter" src="{% static 'images/YouTube-icon.png'%}" style="height:22px; width:25px;"></a>
                        </div>
                        <div class="tags">
                            <span class="link">Related Links : &nbsp&nbsp&nbsp&nbsp</span>
                            
                            <a href="">NIOT &nbsp|&nbsp</a>
                            <a href="">INCOIS &nbsp|&nbsp</a>
                            <a href="">NCCR &nbsp|&nbsp</a>
                            <a href="">MOES &nbsp|&nbsp</a>
                            <a href="">NIO &nbsp|&nbsp</a>
                            <a href="">IMD &nbsp|&nbsp</a>
                            <a href="">IITM &nbsp|&nbsp</a>
                            <a href="">AFOPS &nbsp|&nbsp</a>
                            <a href="">NCMRWF &nbsp|&nbsp</a>
                            <a href="">NCESS &nbsp|&nbsp</a>
                            <a href="">NCS &nbsp|&nbsp</a>
                            <a href="">CMLRE&nbsp</a>
                        </div>
                        <div class="last" style="padding-bottom:20px;">
                            Contents of this website is published and managed by NCPOR , Government Of India. For any queries regarding this website please contact <a href="" class="link">Web Master .</a> 
                        </div>
                        {% comment %} <div class="i1">
                            <div class="d1">
                                <div class="dd1">
                                    <img src="{% static 'images/icon.png' %}" alt="">
                                </div>
                                <div class="dd2">
                                    <p>Home | Contact
                                        <br>
                                        <br>
                                        © 2022, NATIONAL CENTRE FOR POLAR AND OCEAN RESEARCH
                                    </p>
                                </div>
                            </div>

                        </div> {% endcomment %}
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>